*{
    font-family:'Courier New', Courier, monospace ;
    box-sizing: border-box;
}

h2{
    font-size: 5vh;
}

.main{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: hsl(240, 5%, 15%);
}

.login-form{
    min-width: 25vw;
    padding: 1.5rem;
}

.form-group{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    font-size: 2rem;
    margin-bottom: 4vh;
}

input {
    border: none;
    background-color: hsl(240, 5%, 20%);
    height: 6vh;
    width: 20vw;
    padding: 10px 12px;
    font-size: 1rem;
    text-align: center;
}

input::placeholder{
    font-size: 1rem;
}

#submitBtn{
    border: none;
    height: 6vh;
    width: 20vw;
    padding: 10px 12px;
    background-color: hsl(286, 95%, 60%);
    font-size: 1rem;
    color: black;
}

#submitBtn:hover{
    cursor: pointer;
    color: white;
    background-color: hsl(286, 60%, 30%);
}

.error-message{
    color: hsl(0, 70%, 60%);
}